@import "./normalize.css";
:root {
  --color-body: #3c4043;
  --color-primary: #1967d2;
  --color-secondary: #70757a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.32rem;
  line-height: 1.5;
  color: var(--color-body);
}

.font--bold {
  font-size: 1.7rem;
  padding: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.font--link {
  color: var(--color-primary);
}
 
/* ICON */ 
.icon__grey {
  fill: var(--color-secondary) !important;
} 

.img__cont{
  width:4rem;
  height: 4rem;
}

.img--size{
  width: 20px;
  height: 23px;
}
.imgbar--size{
  width: 2.2rem;
  height: 2.2rem;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 1.2rem;
  color: var(--color-secondary);
}

.hover:hover{
  border-radius: 20px;
  background-color: #ebecec; 
}

.img__prof{
  width: 32px;
  height: 32px;
  border-radius: 20px;
} 

/* LINKS */
.link {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .link:hover {
    text-decoration: underline;
  }
} 


/* NAVIGATION */ 
.nav{
  display: flex; 
}  

.nav__cont{
  justify-content: space-between;
  margin-top: 4px;
  margin-right: 1.5rem;
}
.nav__font{
  font-weight: 700;
}

.all-br_cont{
  padding-right: 1.5rem;
  padding-left: 8px;
}

.border-bottom_br{
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.img-bar_cont{
  width: 5.1rem;
}

.app-br-cont{
  padding-right: 15px;
}