@import "./normalize.css";
:root{
    --color-body:#3c4043;
    --color-primary:#1967d2;
    --color-secondary:#70757a;
}

*,*::before,*::after{
    box-sizing: border-box;
}


/* TYPOGRAPHY */
html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.32rem;
    line-height: 1.5;
    color: var(--color-body);
}

.font--bold{
    font-size: 1.7rem;
    padding: 1rem;
    font-weight: 600; 
    text-transform: uppercase;
    letter-spacing:-1px;
}

.font--link{
    color: var(--color-primary);
}

/* ICON */
.icon{
    width: 24px;
    height: 24px;
}
.icon__grey{
    fill: var(--color-secondary) !important; 
}
