@import "./normalize.css";
:root {
  --color-body: ##202124;
  --color-primary: #1967d2;
  --color-secondary: #70757a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
}

body {
  font-family:sans-serif, Arial, Helvetica;
  font-size: 1.32rem;
  line-height: 1.5;
  color: var(--color-body);
}
 
.font--bold {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 500;
  text-transform: capitalize; 
}

.trend-li .font--bold{
  font-size: 1.6rem;
  color: var(--color-secondary);
}

.font--link {
  color: var(--color-primary);
  padding-left: 1rem; 
}
 
/* LIST */
.list{
  list-style-type: none;
}

.footer .list{
  padding-left:1rem ;
}
/* ICON */ 
.icon__grey {
  fill: var(--color-secondary) !important;
} 

.img__cont{
  width:4rem;
  height: 4rem;
}

.img--size{
  width: 20px;
  height: 23px;
}
.imgbar--size{
  width: 2.2rem;
  height: 2.2rem;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 1.3rem;
  color: var(--color-secondary);
}

.hover:hover{
  border-radius: 20px;
  background-color: #ebecec; 
}

.img__prof{
  width: 32px;
  height: 32px;
  border-radius: 20px;
} 

/* LINKS */
.link {
  text-decoration: none; 
  text-transform: capitalize;
}

.link:hover {
  cursor: pointer;  
}
 
.o{
  width: 3px; 
  height: 3px;
  background: grey;
  border-radius: 30px;
} 
.o1, .o2{
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .link:hover {
    text-decoration: underline;
  }
} 


/* NAVIGATION */ 
.nav{
  display: flex; 
}  

.nav__cont{
  justify-content: space-between;
  margin-top: 4px;
  margin-right: 1.5rem;
}

.nav__font{
  font-weight: 700;
  text-transform: uppercase;
}

.all-br_cont{
  padding-right: 1.5rem;
  padding-left: 8px;
}

.border-bottom_br{
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.img-bar_cont{
  width: 5.1rem;
}

.app-br-cont{
  padding-right: 15px;
}

.mail{
  display: none;
}
@media screen and (min-width:768px){
  .nav .imgbar--size, .all-br_cont{
    display: none;
  }

  .nav__cont{
    justify-content: flex-end;
  } 

  .app-br-cont{
    padding-left:14px;
  }

  .nav__font{ 
    font-weight: 600;
    color: #3c4043;
    text-transform:capitalize ;
  }

  .mail{
    display: flex;
  }
}

/*G00GLE*/

.alpha{ 
  padding-top: 5rem;
  font-size:5rem;
  font-weight: 540; 
}

.alpha1, .alpha4{
  color: #1967d2;
}

.alpha2, .alpha6{
  color: #ea4335;
}

.alpha3{
  color: #fbbc05;
}

.alpha5{
  color: #34a853;
}

@media screen and (min-width: 768px){
  .alpha{ 
    padding-top: 0;
    font-size: 9.4rem;
    font-weight: 540; 
  }

}

/* SEARCHBAR */
.input{
  padding: 7px 1rem; 
  outline: 0;
  font-size: 1.7rem;
  border: 0;
  flex-grow: 1;  
}

.input-group{
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
  max-width: 584px;
  margin: auto;
  margin-bottom: 1rem;
}  

.input-group .img-bar_cont  {
  width: 40px;
} 

.mic1{
  display: none;
}

.x{
  width: 18px; 
  height: 2px;
  background: grey;
} 

.x1{
  transform: rotate(-45deg);
}

.x2{
  transform: rotate(45deg) translate(-1.8px);
}
.input-group .xfm{
  display: none;
}
@media screen and (min-width:768px){
    .input {
      padding: 1.3rem ;
    }

    .mic1{
      display: flex;
      border-left: 1px solid grey;
    }
    
    .mic2{
      display: none;
    }

    .input-group .xfm{
      display: block;
      padding-right: 2rem;
    }
}

/* BUTTON */
.button{
  display: none;
}

@media screen and (min-width:768px){
  .button{ 
    padding-top: 2.5rem;
    display: flex;
  }
  .btn{
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem;
    border: 0;
    background: #f8f9fa;
    border-radius: 5px; 
  }
  .btn:hover{
    box-shadow: 0 0 3px grey;
  } 
  .btn1{
    padding-right: 2.5rem;
  }
}

/* TRENDING */
.trend{
  position: relative;
}

.trend--p{
  position: absolute; 
  right: 0; 
  bottom: 6px;
}  

.trend .font--bold{
  margin: 0;
}

.trend-li-hd{
  /* padding-bottom: 1rem; */
  border-bottom: 1px solid #dadce0;
}

.trend-li{
  padding: 0.7rem;
}

.trend-search .trend-li{
  font-size: 1.6rem;
}

.trend .font--bold{
  padding: 0.5rem;
}

.trend-li-hd .imgbar--size{
  width: 1.7rem; 
}

@media screen and (min-width: 768px){
  .trend-search{
    display: none;
  }
  
  .trend .font--bold{
    padding: 1.7rem;
    font-weight: 800; 
  }
  .trend .trend-li{
    font-weight: 700; 
    color: var(--color-secondary);
  }
}

/* FOOTER */
.footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #f2f2f2;
}
.footer__image{
  width: 1.2rem;
}

.footer .img{
  display: none;
}

.footer .list:hover{
  color: var(--color-body);
}

.footer .mail{
  display: flex; 
  justify-content: space-evenly; 
  flex-wrap: wrap;
}

.main{
  margin: auto; 
  width: 95%;
  
}

@media screen and (min-width:768px){
  .footer{
    position: fixed;
  }

  .footer .img{
    display: flex;
  }

  .footer .list:hover{
    color: none;
    text-decoration: underline;
  } 
  .f1{
    order: 1;
  }
  .f2{
    order: -1;
  }

  .ativ{
    order: -1;
  }

}
@media screen and (max-width:1200px){
  .media{
    width: 100%; 
    order: -1;
  }
}
@media screen and (min-width: 1200px){
  .footer .mail{ 
    justify-content: space-around;  
  }
}
