<div class="footer">
  <div class="trend-li">
    <div class="nav trend-li-hd"> 
            <div class="trend-li link font--bold" > nigeria</div>
    </div>
  </div>
  <div class="mail">
    <ul class="center f1">
      <li class="link link-color list mic2">dark theme: off</li>
      <li class="link link-color list">settings</li>
      <li class="link link-color list ativ">privacy</li>
      <li class="link link-color list ativ">terms</li>
    </ul>
    <div class="media">
      <div class="center img"> 
        <img src="images/leave.png" alt="" class="footer__image " >
              <div class="trend-li link" >carbon neutral since 2007</div>
      </div>
    </div>
    <ul class="center f2">
      <li class="link link-color list"></li>
      <li class="link link-color list">advertising</li>
      <li class="link link-color list">business</li>
      <li class="link link-color list ativ">about</li>
      <li class="link link-color list img">how search works</li>
    </ul>
</div>