<div class="input-group center" style="margin: 2rem;" >  
    <svg class="icon__grey icon img-bar_cont imgbar--size "   >
        <use xlink:href="images/sprite.svg#search" ></use>
    </svg> 
    <input type="text" class="input" />
    <div class="xfm" >
      <div class="x x1"> </div>
      <div class="x x2"> </div>
  </div>  
    <svg class="icon__grey icon imgbar--size img-bar_cont mic1" >
        <use xlink:href="images/sprite.svg#Google_mic" ></use>
    </svg> 
    <svg class="icon__grey icon imgbar--size img-bar_cont mic2" >
        <use xlink:href="images/sprite.svg#google_mic_grey" ></use>
    </svg> 
</div> 