<div class="nav nav__cont"> 
  <section class="nav">
    <div class="center img__cont">
        <img src="images/bar.svg" alt="" class="imgbar--size">
    </div>
    <div class="all-br_cont"><div class="center img__cont nav__font link border-bottom_br">all</div></div> 
    <div class="center img__cont nav link nav__font img-bar_cont mail">gmail</div> 
    <div class="center img__cont nav link nav__font img-bar_cont">images</div> 
  </section>
  <section class="nav">
    <div class="app-br-cont ">
      <div class="center img__cont hover">
          <img src="images/square-circle.svg" alt="" class="img--size">
      </div>
    </div>
    <div class="center img__cont hover">
        <img src="images/profile.png" alt="" class="img__prof">
    </div>
  </section> 
</div>