<!-- LINK -->
<div class="trend-search">
  <div class="trend" style="position: relative; ">
      <h1 class="font--bold">Trending Search</h1>
    <div class="trend--p font--bold">
      <div class="o o1"> </div>
      <div class="o o2"> </div>
      <div class="o o3"> </div>
    </div>
  </div>
  <div class="trend-li">
    <div class="nav trend-li-hd" >
      <div class="center img-bar_cont">
        <img src="images/arrow.svg" alt="" class="imgbar--size">
            </div>
            <div class="trend-li"> nigeria asuu strike</div>
    </div>
  </div>
  <div class="trend-li">
    <div class="nav trend-li-hd" >
      <div class="center img-bar_cont">
        <img src="images/arrow.svg" alt="" class="imgbar--size">
            </div>
            <div class="trend-li" >russia ukraine russian</div>
    </div>
  </div>
  <div class="trend-li">
    <div class="nav trend-li-hd" >
      <div class="center img-bar_cont">
        <img src="images/arrow.svg" alt="" class="imgbar--size">
            </div>
            <div class="trend-li" > lari williams nigerian actor</div>
    </div>
  </div>
  <div class="trend-li">
    <div class="nav trend-li-hd">
      <div class="center img-bar_cont">
        <img src="images/arrow.svg" alt="" class="imgbar--size">
            </div>
            <div class="trend-li" > jamb</div>
    </div>
  </div>
  <div class="trend-li">
    <div class="nav trend-li-hd">
      <div class="center img-bar_cont">
        <img src="images/arrow.svg" alt="" class="imgbar--size">
            </div>
            <div class="trend-li" > metawar</div>
    </div>
  </div>
  <div class="trend-li">
    <div class="nav trend-li-hd">
      <div class="center img-bar_cont">
        <img src="images/arrow.svg" alt="" class="imgbar--size">
            </div>
            <div class="trend-li" > apc national convention sub committees</div>
    </div>
  </div>
  <div class="trend-li">
    <div class="nav trend-li-hd">
      <div class="center img-bar_cont">
        <img src="images/arrow.svg" alt="" class="imgbar--size">
            </div>
            <div class="trend-li" >rccg 80 hours marathon praise 2022</div>
    </div>
  </div>
</div>